In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns=['id', 'name', 'surname', 'age'])

In [5]:
id_user = 'ag_001'
name = 'Алексей'
surname = 'Головин'
age = 27

In [6]:
display(df)

Empty DataFrame
Columns: [id, name, surname, age]
Index: []

In [34]:
df = pd.read_csv('test_data.csv', index_col=0)

In [36]:
df = df.append({'id': id_user, 'name': name, 'surname': surname, 'age': age}, ignore_index=True)

In [37]:
df

       id     name  surname  age
0  ag_001  Алексей  Головин   27
1  ag_001  Алексей  Головин   27
2  ag_001  Алексей  Головин   27
3  ag_001  Алексей  Головин   27

In [33]:
df.to_csv('test_data.csv')

In [44]:
age = 's26'
if int(age):
    print('text')
else:
    print('some')

ValueError: invalid literal for int() with base 10: 's26'

In [48]:
age = 's26'
try:
    age = int(age)
    print(age)
except Exception:
    print('some error')

some error